.paginator {
    display: flex;
    gap: 10px;
    color: darkslategray;
    margin-bottom: 20px;
    cursor: pointer;
    align-items: center;
}

.selectedPage {
    color: black;
    font-weight: bold;
}

.button {
    border: 1px solid gray;
    padding: 3px;
    border-radius: 3px;
}

.button:hover {
    border: 1px solid #909090;
    color: #909090;
}